<div class="flex justify-center gap-2 m-4">
  <button type="button" [disabled]="links.first === ''"
    class="p-2 border border-black rounded-md hover:bg-black hover:text-white disabled:opacity-40 disabled:bg-white disabled:text-black disabled:cursor-not-allowed"
    (click)="changePage(links.first)">
    <fa-icon [icon]="faAnglesLeft"></fa-icon>
  </button>
  <button type="button" [disabled]="links.previous  === ''"
    class="p-2 border border-black rounded-md hover:bg-black hover:text-white disabled:opacity-40 disabled:bg-white disabled:text-black disabled:cursor-not-allowed"
    (click)="changePage(links.previous)">
    <fa-icon [icon]="faChevronLeft"></fa-icon>
  </button>
  <button type="button" [disabled]="links.next  === ''"
    class="p-2 border border-black rounded-md hover:bg-black hover:text-white disabled:opacity-40 disabled:bg-white disabled:text-black disabled:cursor-not-allowed"
    (click)="changePage(links.next)">
    <fa-icon [icon]="faChevronRight"></fa-icon>
  </button>
  <button type="button" [disabled]="links.last  === ''"
    class="p-2 border border-black rounded-md hover:bg-black hover:text-white disabled:opacity-40 disabled:bg-white disabled:text-black disabled:cursor-not-allowed"
    (click)="changePage(links.last)">
    <fa-icon [icon]="faAnglesRight"></fa-icon>
  </button>
</div>
