<div class="grid lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-2 grid-cols-1 gap-4">
  <div *ngFor="let item of items" class="group bg-slate-50 border-gray-500 border rounded-md flex flex-col gap-2 p-4">
    <div class="flex justify-evenly gap-2">
      <img [src]="item.image" [alt]="item.name"
        class="h-40 object-contain group-hover:drop-shadow-[0_0_5px_rgba(0,0,0,0.5)] group-hover:scale-105" />
      <div class="flex flex-col gap-2">
        <h2 class="text-center font-bold text-xl">{{ item.name }}</h2>
        <p>
          <span class="bg-green-400 rounded-md text-xs px-1 py-0.5">{{ item.race }}</span>
        </p>
        <p>
          <span class="bg-green-400 rounded-md text-xs px-1 py-0.5">{{ item.gender }}</span>
        </p>
      </div>
    </div>
    <a [routerLink]="['character', item.id]"
      class="border border-black text-black rounded-md p-1 text-xs text-center group-hover:bg-black group-hover:text-white">Ver
      informacion</a>
  </div>
</div>
<div class="flex justify-center gap-2 m-4">
  <button type="button" [disabled]="links.first === ''"
    class="p-2 border border-black rounded-md hover:bg-black hover:text-white disabled:opacity-40 disabled:bg-white disabled:text-black disabled:cursor-not-allowed"
    (click)="getCharacters(links.first)">
    <fa-icon [icon]="faAnglesLeft"></fa-icon>
  </button>
  <button type="button" [disabled]="links.previous  === ''"
    class="p-2 border border-black rounded-md hover:bg-black hover:text-white disabled:opacity-40 disabled:bg-white disabled:text-black disabled:cursor-not-allowed"
    (click)="getCharacters(links.previous)">
    <fa-icon [icon]="faChevronLeft"></fa-icon>
  </button>
  <button type="button" [disabled]="links.next  === ''"
    class="p-2 border border-black rounded-md hover:bg-black hover:text-white disabled:opacity-40 disabled:bg-white disabled:text-black disabled:cursor-not-allowed"
    (click)="getCharacters(links.next)">
    <fa-icon [icon]="faChevronRight"></fa-icon>
  </button>
  <button type="button" [disabled]="links.last  === ''"
    class="p-2 border border-black rounded-md hover:bg-black hover:text-white disabled:opacity-40 disabled:bg-white disabled:text-black disabled:cursor-not-allowed"
    (click)="getCharacters(links.last)">
    <fa-icon [icon]="faAnglesRight"></fa-icon>
  </button>
</div>
